
<!-- 
view More -->
<div class="modal fade modal-lg" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{product.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row modal-body">
                <div class="col-5">
                    <img src="{{imgPath||product.images[0]}}" alt="" height="300px" class="mb-3">
                    <div class="d-flex">
                        <img (click)="changeImg(1)" src="{{product.images[0]}}" alt="" height="100px" width="100px" class="me-2">
                        <img (click)="changeImg(2)" src="{{product.images[1]}}" alt="" height="100px" width="100px" class="ms-2">
                    </div>
                </div>
                <div class="col-7">

                    <p class="fw-bolder">{{product.name}}</p>
                    <div class="stars">
                        <span *ngFor="let star of [].constructor(product.rating)">
                            <i class="fa-solid fa-star text-warning"></i>
                        </span>
                    </div>
                    <p>Price</p>
                    <p>{{'$'+product.price}}</p>
                    <p class="badge {{product.availableQty? 'bg-success':'bg-danger'}}" style="font-size: 15px;">
                        {{product.availableQty? 'Instock':'Outofstock'}}</p>
                        
                        <p class="mt-3">Description</p>
                        <ul>
                          <li>This t-shirt features a beautifully crafted design that adds an
                            elegant touch to any wardrobe.</li>
                          <li>The soft, breathable fabric ensures all-day comfort, while the
                            classic fit flatters every body type.</li>
                          <li>Designed for versatility, it pairs perfectly with jeans, shorts, or
                              skirts.</li>
                          <li>Fully pre-shrunk for a perfect fit-no worries about fading or
                            stretching!</li>
                        </ul>
                    <div class="row">
                        <div class="col-5">
                            <label for="">Frame material</label>
                            <ng-select [items]="product.materials" bindLabel="name" bindValue="id" placeholder="Cotton  &times;">
                            </ng-select>
                        </div>
                        <div class="col-5">
                            <label for="">Color</label>
                            <ng-select [items]="product.colors" bindLabel="name" bindValue="id" placeholder="Black  &times;">
                            </ng-select>
                        </div>
                        <div class="col-2">
                            <label for="">Quantity</label>
                            <input type="number" placeholder="1" style="width: 40px;">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary mt-3">Add to cart</button>

                </div>

            </div>
            
        </div>
    </div>
</div>

